@charset "UTF-8";

/* 共通スタイル */

body {
  font-size:15px;
}

.container {
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.section_title {
  text-align: center;
  font-weight: bold;
  font-size: 42px;
  font-style: italic;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

.section_title span {
  display: block;
  color: #7d7d7d;
  margin-top: 4px;
  font-size: 24px;
}

.section_body {
  text-align: center;
}

.entry_body {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 0 auto;
  width: 200px;
  height: 48px;
  background: linear-gradient(to bottom left, rgba(71, 125, 154, 0.9) 0%, rgba(10, 55, 92, 0.9) 100%);
  color: #FFFFFF;
  font-weight: bold;
}

/* ヘッダー */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  z-index: 2;
}

.header.is-transparent {
  background-color: transparent;
  border: none;
}

.header.is-transparent:not(.is-open) .header-logo {
  filter: brightness(10);
}

.header_logo {
  z-index: 2;
}

.logo {
  font-size: 48px;
  font-style: italic;
  font-weight: 900;
  display: flex;
  align-items: center;
}

.header_right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header_list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header_list li {
  font-size: 25px;
}

.entry_header {
  background: linear-gradient(to bottom left, rgba(71, 125, 154, 0.9) 0%, rgba(10, 55, 92, 0.9) 100%);
  padding: 10px 20px;
  margin-top: 8px;
  color: #FFFFFF;
  font-weight: bold;
}

.header_button {
  width: 42px;
  height: 42px;
  position: relative;
  z-index: 2;
}

.header_buttonLine {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #0071BC;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header_buttonLine:nth-of-type(1) {
  top: 13px;
}

.header_buttonLine:nth-of-type(2) {
  top: 20px;
}

.header_buttonLine:nth-of-type(3) {
  top: 27px;
}

.header_menu {
  position: fixed;
  top: 0;
  right: -100%; 
  height: 100%;
  width: 30%; 
  background: linear-gradient(to top left, #DDDDDD, #FFFFFF);
  flex-direction: column;
  gap: 0;
  padding: 120px 24px 40px;
  transition: right .3s linear;
}

.header_menuList {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header_menuItem {
  margin-bottom: 10px;
  border-bottom: 1px solid #E0E0E0;
}

.header_menuLink {
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: .1em;
  transition: color .3s linear;
  font-size: 20px;
}

.header.is-open .header_menu {
  right: 0; 
}

.header.is-open .header_buttonLine:nth-of-type(1) {
  transform: translateX(-50%) rotate(45deg);
  top: 20px;
}

.header.is-open .header_buttonLine:nth-of-type(2) {
  opacity: 0;
}

.header.is-open .header_buttonLine:nth-of-type(3) {
  transform: translateX(-50%) rotate(-45deg);
  top: 20px;
}

/* メインセクション */

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 80px 0;
  overflow: hidden;
}

.main {
  position: relative;
  height: 100vh;
}

.main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

/* コアコンピテンス */

.features {
  padding: 80px 0;
  background: linear-gradient(to top left, #DDDDDD, #FFFFFF);
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature_body {
  display: flex;
  gap: 30px;  
  flex-wrap: wrap;  
  justify-content: center; 
}

.feature_card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  max-width: 500px;  
  width: 100%;
  cursor: pointer;
}

.feature_name {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

/* 実績 */

.achievements {
  padding: 80px 0;
  margin-top: -80px;
  background: linear-gradient(to top left, #444444, #000000);
  color: #FFFFFF;
}

.achieve_body {
  display: flex;
  width: 60%;
  margin: 0 auto 20px auto;
  padding: 20px 40px;
  justify-content: space-between; 
}

.achieve_left, .achieve_right {
  display: flex;
  justify-content: space-between;
  width: 40%;  
}

.achieve_left p, .achieve_right p {
  font-size: 24px;
  margin-bottom: 10px;
}

.inner_right_column {
  text-align: right;
}

.achieve_supp {
  text-align: center;
}

/* サービス内容 */

.service {
  padding: 80px 0;
  margin-top: -80px;
  background: linear-gradient(to top left, #DDDDDD, #FFFFFF);
}

.service_body {
  margin: 0 auto;
  padding: 0 20%;
  display: flex;
  flex-wrap: wrap;
}

.service_detail {
  width: 40%;
  margin: 30px auto;
  cursor: pointer;
}

.service_detail img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.service_text {
  margin-top: 20px;
}

.service_name {
  font-size: 24px;
  color: rgba(10, 55, 92, 0.9);
  font-weight: bold;
  margin-bottom: 10px;
}

.service_overview, .service_description {
  font-size: 16px;
  line-height: 1.6;
}

/* イベント */

.event {
  padding: 80px 0;
  margin-top: -80px;
  background: linear-gradient(to top left, #444444, #000000);
  color: #FFFFFF;
}

.event_slide {
  margin: 0 auto;
}

.event_slideTrack {
  overflow: hidden;
  padding-bottom: 50px;
}

.event_item {
  border-radius: 10px;
  overflow: hidden;
  width: 320px;
  flex-shrink: 0; 
  background-color: #FFFFFF;
  text-align: center;
  padding: 25px;
  cursor: pointer;
}

.event_image img {
  height: 175px;
  width: 200px;
  object-fit: contain;
  margin-bottom: 20px;
}

.event_name {
  color: rgba(10, 55, 92, 0.9);
  margin-top: 4px;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.event_description {
  margin-top: 15px;
}

/* イベントモーダル */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
}

.modal_content {
  background-color: #FEFEFE;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #888888;
  width: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
}

.feature_modal h2, .service_modal h2 {
  margin-bottom: 20px;
}

.feature_modal {
  color: #000000;
}

.service_modal img {
  object-fit: contain;
  margin-bottom: 10px;
  width: 90%;
  height: 200px;
}

.event_modal {
  color: rgba(10, 55, 92, 0.9);
}

.event_modal img {
  object-fit: contain;
  margin-bottom: 10px;
  width: 60%;
  height: 175px;
}

.close {
  color: #AAAAAA;
  float: right;
  font-size: 28px;
  font-weight: bold;
  line-height: .8;
}

.close:hover, .close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

/* スライダー */

.splide__arrow {
  width: 40px;
  height: 40px;
  border: solid 1px #0071BC;
  background-color: #FFFFFF;
  opacity: 1;
}

.splide__arrow svg path {
  fill: #0071BC;
}

.splide__arrow--prev {
  left: 8px;
}

.splide__arrow--next {
  right: 8px;
}

/* ニュース */

.news {
  padding: 80px 0;
  margin-top: -80px;
  background: linear-gradient(to top left, #DDDDDD, #FFFFFF);
}

.news_body {
  background: #F8F8F8;
  width: 60%;
  margin: 0 auto;
  padding: 20px 40px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.16) inset;
}

.news_item {
  border-top: 1px solid #DFDFDF;
  padding: 10px 0;
  text-align: left;
  display: flex;
  align-items: center;
}

.news_item a {
  color: #0000EE;
  text-decoration: underline;
}

.news_date {
  width: 150px;
  padding: 10px 0;
  margin-right: 50px;
  font-weight: bold;
  color: rgba(71, 125, 154, 0.9);
}

.tab {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #CCCCCC;
  background-color: #F1F1F1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: rgba(71, 125, 154, 0.3);
}

.tab_content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #CCCCCC;
  border-top: none;
}

/* フッター */

footer {
  padding: 80px 0;
  margin-top: -80px;
  background: #FFFFFF;
}

.footer_upper {
  margin-bottom: 20px;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.footer_logo {
  width: 210px;
  margin-right: 20px;
}

.footer_btn {
  text-align: center;
  display: block;
  padding: 0 24px;
  margin: 2px 5px;
  color: #FFFFFF;
  background: #3C4860;
  border-radius: 40px;
  height: 40px;
  line-height: 40px;
  box-shadow: 0px 0px 10px #A5A5A5;
}

.footer_icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 45px auto;
}

.footer_item {
  font-size: 18px;
}

.footer_link img {
  width: 50px;
  height: 50px;
}

.footer_list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.fab {
  margin-right: 10px;
}

.fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
}

/* ログインページ */

.login_section {
  position: relative;
  background: #FFFFFF;
  max-width: 30%;
  margin: 150px auto 0;
  padding: 50px 45px 30px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login_container {
  width: 90%;
  margin: 0 auto;
}

.input_group {
  margin: 0 auto 10px;
  width: 90%;
}

input[type="text"], input[type="password"] {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  font-size: 14px;
  text-align: left;
}

.submit_group {
  margin: 0 auto 10px;
  width: 90%;
}

input[type="submit"] {
  padding: 18px 20px; 
  background: linear-gradient(to bottom left, rgba(71, 125, 154, 0.9) 0%, rgba(10, 55, 92, 0.9) 100%);
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px;  
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #053467;
}

.submit_group a {
  text-decoration: underline;
  color: #0000EE;
}

.login_footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* ブログページ */

.article_default {
  background-color: #F7F7F7;
}

.breadcrumb {
  margin: 15vh auto 10px;
  max-width: 880px;
}

.breadcrumb_list {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb_list li:not(:last-of-type) {
  color: rgba(71, 125, 154, 0.9);
}

.breadcrumb_list li:not(:last-of-type)::after {
  content: "›";
  margin: 0 10px; 
  color: #777777;
}

.article_wrapper {
  margin: 0 auto 20px;
  max-width: 880px;
  padding: 40px 100px 60px;
  background: #FFFFFF;
  border-top: solid rgba(71, 125, 154, 0.9) 3px;
  box-shadow: 0px 0px 2px #e8e5e5;
  border-radius: 3px;
}

.article_wrapper p {
  font-size: 18px;
  margin-bottom: 10px;
}

.article_title {
  font-size: 31px;
  font-weight: bold;
  margin: 0 auto 15px;
  text-align: center;
}

.article_date {
  font-size: 14px;
  color: rgba(51, 51, 51, 0.6);
  text-align: center;
  margin-bottom: 10px;
}

.article_image {
  text-align: center;
  margin-bottom: 15px;
}

.article_image img {
  width: 80%;
}

.article_heading {
  font-size: 20px;
  border-left: solid rgba(71, 125, 154, 0.9) 5px;
  padding: 12px 12px 12px 20px;
  margin: 40px 0;
  background: #F7F7F7;
  font-weight: bold;
}

/* スケジュール */

table {
  border-collapse: collapse;
  width: 70%;
  margin: 30px auto 0;
}

th {
  background-color:  rgba(71, 125, 154, 0.3);
  font-weight: bold;
}

th,td {
  padding: 10px;
  border: 1px solid #000000;
  width: 50%;
}