@charset "UTF-8";

/* 共通スタイル */

body {
  font-family: "Hiragino Kaku Gothic Pro","Meiryo",sans-serif;
  font-size:15px;
}

.container {
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.section_title {
  text-align: center;
  font-weight: bold;
  font-size: 42px;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

.section_title span {
  display: block;
  color: #7d7d7d;
  margin-top: 4px;
  font-size: 24px;
}

.section_body {
  text-align: center;
}

/* ヘッダー */

header{
  width: 100%;
  height: 7vh;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #000000;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  display: flex;
  align-items: center;
}

.header_list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header_list li {
  font-size: 25px;
}

.entry_header {
  background: linear-gradient(to bottom left, #b3cdde 0%, #093153 100%);
  padding: 10px 20px;
  margin-top: 8px;
  color: #FFFFFF;
  font-weight: bold;
}

.entry_body {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 0 auto;
  width: 200px;
  height: 48px;
  background: linear-gradient(to bottom left, #b3cdde 0%, #093153 100%);
  color: #FFFFFF;
  font-weight: bold;
}

/* メインセクション */

.main {
  position: relative;
}

.main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.main_text {
  position: absolute;
  top: 30%;
  left: 5%;
  color: #eee;
}
.main_text h1 {
  font-size: 80px;
}
.main_text p {
  font-size: 40px;
}
.main_text h2 {
  font-size: 40px;
  background-color: #000000;
  width: 380px;
}

/* コンセプト */

.concept {
  padding: 80px 0;
  background: #000000;
}

/* 特徴 */

/* .features {
  height: 25vh;
  padding: 80px 0;
  background: #FFFFFF;
  color: #000000;
  display: flex;  
  flex-direction: column;  
  align-items: center;  
}

.feature_detail {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.feature_text {
  display: flex;
  align-items: center;
}

.feature_text h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-left: 40px;
  line-height: 1.2;
}

.feature_number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background-color: black;
  color: white;
  border-radius: 50%;
} */

/* .features {
  height: auto;
  padding: 80px 0;
  background: #FFFFFF;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px; 
}

.feature_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.feature_detail.top {
  display: flex;
  justify-content: center;
  width: 100%;
}

.feature_detail.bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 20px;  
}

.feature_circle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 50%; 
  width: 150px;  
  height: 150px; 
  background-color: #e0e0e0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);  
  text-align: center;
}

.feature_text h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;
  text-align: center;
} */

.features {
  padding: 80px 0;
  background: #FFFFFF;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature_body {
  display: flex;
  gap: 30px;  
  flex-wrap: wrap;  
  justify-content: center; 
}

.feature_card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  max-width: 300px;  
  width: 100%;
}

.feature_card h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.feature_number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background-color: black;
  color: white;
  border-radius: 50%;
  flex-shrink: 0;  /* 数字部分が縮小されないようにする */
}


/* 実績 */

.achievements {
  padding: 80px 0;
  background: #000;
  color: #FFFFFF;
}

.achieve_body {
  display: flex;
  width: 70%;
  margin: 0 auto 20px auto;
  padding: 20px 40px;
  justify-content: space-between;  /* 子要素の間にスペースを挿入する */
}

.achieve_left, .achieve_right {
  display: flex;
  justify-content: space-between;
  width: 40%;  /* 適当に調整して、両方の列が親要素の幅に収まるようにする */
}

.achieve_left p, .achieve_right p {
  font-size: 24px;
  margin-bottom: 10px;
}

.inner_right_column {
  text-align: right;
}

.achieve_supp {
  text-align: center;
}

/* サービス内容 */

.service {
  padding: 80px 0;
  background: #FFFFFF;
}

.service_body {
  margin: 0 auto 50px auto;
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
}

.service_detail {
  width: 40%;
  margin: 30px auto;
}

.service_detail img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.service_text {
  margin-top: 20px;
}

.service_text h2 {
  font-size: 24px;
  color: #3C4860;
  font-weight: bold;
  margin-bottom: 10px;
}

.apply_btn {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 300px;
  padding: 0 24px;
  color: #FFFFFF;
  background: #3C4860;
  border-radius: 40px;
  height: 40px;
  line-height: 40px;
  box-shadow: 0px 0px 10px #a5a5a5;
}

/* イベント */

.event {
  padding: 80px 0;
  background: #000;
  color: #FFFFFF;
}

.event_slide {
  margin: 0 auto;
}

.event_slideTrack {
  overflow: hidden;
  padding-bottom: 50px;
}

.event_item {
  border-radius: 10px;
  overflow: hidden;
  width: 320px;
  flex-shrink: 0; 
  background-color: #FFFFFF;
  text-align: center;
  padding: 25px;
}

.event_image img {
  height: 175px;
  width: 200px;
  object-fit: contain;
  margin-bottom: 20px;
}

.event_itemName {
  color: #000;
  margin-top: 4px;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/* スライダー */
.splide__arrow {
  width: 40px;
  height: 40px;
  border: solid 1px #0071BC;
  background-color: #FFFFFF;
  opacity: 1;
}

.splide__arrow svg path {
  fill: #0071BC;
}

.splide__arrow--prev {
  left: 8px;
}

.splide__arrow--next {
  right: 8px;
}

/* フッター */

footer {
  padding: 80px 0;
  background: #fff;
}

.footer_upper {
  margin-bottom: 20px;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.footer_logo {
  width: 210px;
  margin-right: 20px;
}

.footer_btn {
  text-align: center;
  display: block;
  padding: 0 24px;
  margin: 2px 5px;
  color: #fff;
  background: #3C4860;
  border-radius: 40px;
  height: 40px;
  line-height: 40px;
  box-shadow: 0px 0px 10px #a5a5a5;
}

.footer_list {
  display: flex;
  justify-content: center;
}

.footer_list li {
  margin-right: 20px;
}

/* ログインページ */

/* ログイン画面スタイル */
.login_section {
  height: 100vh;
  background: #f7f7f7;
  text-align: center;
  display: flex; 
  flex-direction: column;
  justify-content: center;
}

.login_container {
  width: 70%;
  margin: 0 auto;
}

.login_title {
  font-size: 48px;  /* タイトルの文字サイズを非常に大きく */
  margin-bottom: 30px;
}

.input_group {
  margin: 0 auto 30px;
  width: 80%;
}

label {
  display: block;
  font-size: 24px;  
  margin-bottom: 10px;
}

input[type="email"], input[type="password"] {
  width: 100%;
  padding: 18px 20px;  /* paddingを非常に大きく */
  font-size: 24px;  /* 入力の文字サイズを非常に大きく */
  border-radius: 8px;
  border: 2px solid #ccc;
  box-sizing: border-box;
}

.submit_group {
  margin: 0 auto 30px;
  width: 80%;
}

input[type="submit"] {
  padding: 18px 20px;  /* paddingを非常に大きく */
  background-color: #064684;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-size: 24px;  /* ボタンの文字サイズを非常に大きく */
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #053467;
}

.login_footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}
